{
    "*/**/*.{js,jsx,ts,tsx}": [
        "jest --bail --findRelatedTests --passWithNoTests",
        "prettier --write",
        "eslint --cache --fix",
        "eslint",
        "yarn build"
    ],
    "*/**/*.{json,css,md}": [
        "prettier --write"
    ]
}