rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    
    match /users/{userId} {
      // Allow create, write if the authenticated user's ID (email) matches the document ID and the user is not an admin
      allow create, write:  if request.auth != null && request.auth.token.email == userId && !("admin" in request.resource.data);
      // Allow read and write if the authenticated user's ID (email) matches the document ID
      allow read: if request.auth != null && request.auth.token.email == userId;
    }

    match /orders/{document=**} {
      // Allow read if the authenticated user's ID (email) matches the document ID
      allow read, write: if request.auth != null && request.auth.token.email == resource.data.email;
    } 


    match /{document=**} {
      // Admin overwrite for everything
      allow read, write: if get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.admin
      allow read, write: if false;
    }
  }
}
