@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body {
	/* Prevents scrolling beyond the top or bottom of the page */
	overflow: -moz-scrollbars-none;
	/* Ensures the page takes up full viewport height */
	height: 100%;
	/* Prevents accidental user selection */
	-webkit-tap-highlight-color: transparent;
	/* Removes scrollbar space to prevent horizontal scrolling */
	overflow-x: hidden;
	/* Prevents overscrolling effects like bounce-back in supported browsers */
	overscroll-behavior: none;

	/* scrollbar-width: none; */
}

/* scrollbar */
::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

@-moz-document url-prefix() {
	/* Disable scrollbar Firefox */
	html {
		scrollbar-width: none;
	}
}

body::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

body {
	scrollbar-width: none;
	-ms-overflow-style: none;
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

*:focus {
	outline: none;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes move-vertical {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(100%);
	}
}

@keyframes move-vertical-reverse {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-100%);
	}
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.grecaptcha-badge {
	visibility: hidden;
}
