@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 255, 255, 255;
		--background-end-rgb: 255, 255, 255;
	}
}

html,
body {
	/* Prevents scrolling beyond the top or bottom of the page */
	overflow: -moz-scrollbars-none;
	/* Ensures the page takes up full viewport height */

	/* Prevents accidental user selection */
	-webkit-tap-highlight-color: transparent;
	/* Removes scrollbar space to prevent horizontal scrolling */
	overflow-x: hidden;
	/* Prevents overscrolling effects like bounce-back in supported browsers */
	overscroll-behavior: none;
	overflow-y: auto;

	scroll-behavior: smooth;
	scrollbar-width: none;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

@-moz-document url-prefix() {
	/* Disable scrollbar Firefox */
	html {
		scrollbar-width: none;
	}
}

body::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.visible-scrollbar::-webkit-scrollbar {
	width: 8px;
	background: #ccc;
}

.visible-scrollbar {
	scrollbar-width: auto;
	scrollbar-color: #ccc transparent;
	overflow: -moz-scrollbars-none;
}

body {
	scrollbar-width: none;
	-ms-overflow-style: none;
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

*:focus {
	outline: none;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes move-vertical {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(100%);
	}
}

@keyframes move-vertical-reverse {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-100%);
	}
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

.custom-checkbox {
	appearance: none;
	-webkit-appearance: none;
	background-color: #ffffff; /* Replace with your secondary color */
	border: 1px solid gray;
	border-radius: 0.1rem;
}

.custom-checkbox:checked {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M13.78 4.22a.75.75 0 010 1.06l-6 6a.75.75 0 01-1.06 0l-3-3a.75.75 0 111.06-1.06L7.25 9.94l5.47-5.47a.75.75 0 011.06 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
	background-color: #ff6347; /* Replace with your secondary color */
	border-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
}
